---
# Name of AWS VPC
# This becomes the cluster sub-domain (EG: sparta.mydomain.com)
vpc_name: "sparta"

# Base Domain
name_domain: "codectl.io"

# AWS VPC ID (EG: vpc-0894d3be035191bda)
vpc_id: ""

# AWS Region (EG: us-gov-west-1)
aws_region: ""

# AWS Credentials
aws_access_key_id: "AKXXXXXXXXXXXIA"
aws_secret_access_key: "NaxXXXxxxxxxxxxxxxXXXXXXxxXXXxxxxsB"

# AMI ID for CoreOS
rhcos_ami: "ami-6e2a100f"

# List private VPC Subnets
#subnet_list: 
#  - subnet-0add24af86db981ec
#  - subnet-093fc91c829cf7e3d
#  - subnet-0f393ef497d1244ac                                                           
subnet_list: 
  - 
